body { padding: 0; margin: 0; }
      * { box-sizing: border-box;}

      /* Making things visible on the page */
      .container {
        display:grid;
        min-height: 100vh;
        grid-template-areas: 
                "header header"
                "nav nav"
                "aside main"
                "footer footer";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto 4fr 1fr;
      }
      header {
        grid-area: header;
        background: linear-gradient(135deg, #004080, #007acc);
        color: white;
        padding: 40px 10px;
        font-size: 55px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid #ffcc00;
        */
        border: 2px solid #dd0808; Dark red 
        background-color: #ff6666;  Light red */
      }
      aside {
        grid-area: aside;
        border: 2px solid #0ba7c6; /* Dark cyan */
        background-color: #74ddf2; /* Light cyan */
      }
      main {
        grid-area: main;
        border: 2px solid #6f09e5; /* Dark purple */
        background-color: #b880f7; /* Light purple */
      }
      footer {
        border: 2px solid #c4be0d; /* Dark yellow */
        background-color: #f7f380; /* Light yellow */
        grid-area: footer;
      }
