body { padding: 0; margin: 0; }
      * { box-sizing: border-box; font-size: 25px; }

      /* Making things visible on the page */
      .container {
        display:grid;
        border: 2px solid #555;
        padding: 8px;
        min-height: 100vh;
        grid-template-areas: 
                "header header"
                "aside main"
                "footer footer";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 4fr 1fr;
      }
      header {
        grid-area: header;
        border: 2px solid #dd0808; /* Dark red */
        background-color: #ff6666; /* Light red */
      }
      aside {
        border: 2px solid #0ba7c6; /* Dark cyan */
        background-color: #74ddf2; /* Light cyan */
      }
      main {
        border: 2px solid #6f09e5; /* Dark purple */
        background-color: #b880f7; /* Light purple */
      }
      footer {
        border: 2px solid #c4be0d; /* Dark yellow */
        background-color: #f7f380; /* Light yellow */
      }
